body{
    margin: 0;
    font-family: 'Poppins', sans-serif;}
h1{font-size: 50px;}
.name-highlight{
    color: mediumvioletred;
}
.half-width{
        width:40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
}
.half-width img{
    width: 100%;
}
#topbanner{
    border: 1px;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
    background-repeat: no-repeat;
}